.react-datepicker__header {
    background-color: #fff;
}

.react-datepicker {
    border: 1px solid #d5d7db;
    border-radius: 12px;
    padding: 12px 8px;
}

.react-datepicker__day-names {
    display: flex;
    justify-content: space-between;
}

.react-datepicker__day-name {
    width: 40px;
    height: 40px;
    margin: 0;
    padding: 8px 0;
    font-family: 'Poppins', 'sans-serif';
    font-size: 14px;
    font-weight: 600;
    color: #4d4d4d;
    text-transform: uppercase;
}

.react-datepicker__month {
    margin: 0;
}

.react-datepicker__week {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.react-datepicker__day {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    color: #414752;
    font-size: 0.875rem;
    font-weight: 400;
}

.react-datepicker__day--today {
    border: 2px solid #abbde0;
    border-radius: 4px;
    background-color: #fff;
}

.react-datepicker__day--today ~ * {
    opacity: 0.5;
}

.react-datepicker__day--today:hover {
    background-color: #fff;
}
